# Your TV Time export; backup.py looks inside this folder by default
gdpr-data/
gdpr-data.zip

# Files produced by extended-backup.py
tvt-extended-backup/
tvt-extended-backup.zip

# Others
__pycache__/
*.pyc
.DS_Store
